In [1]:

lst = [1, 2, 3]
lst.append(4)
print(lst)

[1, 2, 3, 4]

In [2]:
lst = [10, 20, 30]
lst.clear()
print(lst)

[]

In [3]:
orig = [1, 2, [3, 4]]
shallow = orig.copy()
shallow.append(5)
shallow[2].append(6)
print("orig:", orig)
print("shallow:", shallow)

orig: [1, 2, [3, 4, 6]]
shallow: [1, 2, [3, 4, 6], 5]

In [4]:
items = ['a', 'b', 'a', 'c', 'a']
n = items.count('a')
print(n)

3

In [5]:

lst = [1, 2]
lst.extend([3, 4])
lst.extend((5, 6))
print(lst)

[1, 2, 3, 4, 5, 6]

In [6]:
lst = ['x', 'y', 'z', 'y']
print(lst.index('z'))

try:
    idx = lst.index('z')
except ValueError:
    idx = -1
print("index of 'z':", idx)

2
index of 'z': 2

In [7]:
lst = [0, 1, 3]
lst.insert(2, 2)
print(lst)

lst.insert(0, -1)
print(lst)

[0, 1, 2, 3]
[-1, 0, 1, 2, 3]

In [8]:
lst = ['a', 'b', 'c']
last = lst.pop()
print("popped:", last)
print(lst)

second = lst.pop(1)
print("popped index 1:", second)
print(lst)

popped: c
['a', 'b']
popped index 1: b
['a']

In [9]:
lst = [1, 2, 3, 2, 4]
lst.remove(2)
print(lst)

value = 99
if value in lst:
    lst.remove(value)
else:
    print(f"{value} not in list")

[1, 3, 2, 4]
99 not in list

In [10]:
lst = [1, 2, 3, 4]
lst.reverse()
print(lst)

[4, 3, 2, 1]

In [11]:
nums = [3, 1, 4, 2]
nums.sort()
print(nums)

nums.sort(reverse=True)
print(nums)

words = ["apple", "fig", "banana", "date"]
words.sort(key=len)
print(words)

[1, 2, 3, 4]
[4, 3, 2, 1]
['fig', 'date', 'apple', 'banana']