In [1]:
print("hello world")

hello word

In [2]:
x= input("enter your name")

enter your nameshahid

In [3]:
# write a phyton program to print the details is your best friend
# Name ,Age, Interset, Nationality,

In [4]:
print("Hi, and welcome to our webpage\n the following are the information of Ali best friend\n Name:Ahmad\n Age 21\n Interest cricket\n Nationality pakistani\n ")

Hi, and wellcome to out webpage
 the following are the information of Ali best friend
 Name:Ahamd
 Age 21
 Interset cricket
 Nationality pakistani

In [9]:
n = input("Enter your name ")
a = input("Enter your age ")
b = input(" Enter Interset ")
c = input("Enter your Nationality ")

print("Name: ",n)
print("age: ",a)
print("Interset: ",b)
print("Nationality: ",c)

Enter your name shahid
Enter your age 20
 Enter Interset cricket
Enter your Nationality pakistani
Name:  shahid
age:  20
Interset:  cricket
Nationality:  pakistani

In [19]:
x= int(input("Enter your age "))
if x>=18:
  print("you are elegible for vote")

else:
     print(" you are not elegible ")

Enter your age 17
 you are not elegible

In [20]:
x= int(input("Enter a num "))
if x % 2==0:
  print(" the num is even ")
else:
  print(" the number is odd ")

Enter a num 4
 the num is even

In [7]:
def details():
  n = input("Enter your name ")
  a = input("Enter your age ")
  b = input(" Enter Interset ")
  c = input("Enter your Nationality ")

  print("Name: ",n)
  print("age: ",a)
  print("Interset: ",b)
  print("Nationality: ",c)

details()

Enter your name sh
Enter your age 2
 Enter Interset ai
Enter your Nationality pak
Name:  sh
age:  2
Interset:  ai
Nationality:  pak

In [24]:
for  i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [1]:
num = int(input(" take num for user for the table "))
for i in range(1,11):
  print(num," x ", i," = ",i*num )

 take num for user for the table 3
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30

In [19]:
def is_prime(number):
  if number <= 1:
    return False
  for i in range (2, int (number ** 0.5) + 1):
    if number % i == 0:
      return False
  return True

num = int(input("Enter a number: "))
if is_prime(num):
  print(f"The number {num} is prime.")
else:
  print(f"The number {num} is not prime.")

Enter a number: 5
The number 5 is prime.

In [23]:
count = 0
for i in range (2, 101):
  if is_prime(i):
    count += 1
    print (count,"\t",i)
    if count >= 20:
      break

1 	 2
2 	 3
3 	 5
4 	 7
5 	 11
6 	 13
7 	 17
8 	 19
9 	 23
10 	 29
11 	 31
12 	 37
13 	 41
14 	 43
15 	 47
16 	 53
17 	 59
18 	 61
19 	 67
20 	 71

In [26]:
square = lambda x : x * x

In [27]:
for i  in range(10):
  print(square(i))

0
1
4
9
16
25
36
49
64
81