In [1]:
# Creating a set
pset = {1, 2, 3, 4, 5}
print(pset)
print ("Type of pset is :", type(pset))
# Creating a set using constructor
pset1 = set([3, 4, 5, 6, 7])
print(pset1)
print("Type of pset is :", type(pset1))

{1, 2, 3, 4, 5}
Type of pset is : <class 'set'>
{3, 4, 5, 6, 7}
Type of pset is : <class 'set'>

In [2]:
pset2 = {5,20,11,21,8,9}
print(pset2)
pset2.add(10)
print("pset after adding item value 10: ",pset2)
pset2.remove(20) #Error if item is not in the set
pset2.discard(8)
pset2.discard(8)
print(pset2)

{20, 5, 21, 8, 9, 11}
pset after adding item value 10:  {20, 5, 21, 8, 9, 10, 11}
{5, 21, 9, 10, 11}

In [3]:
#Union of two sets
print("pset1",pset1)
print("pset2",pset2)
pset2.remove(5)
print("pset1",pset1)
union_set = pset1.union(pset2)
print("Union set after union :", union_set)

#Intersection of two sets
pset1.add(10)
pset3 = pset1.intersection(pset2)
print("Result of intersection of two sets : pset1 and pset2",pset3)

# Difference of two sets
pset4 = union_set.difference(pset2)
print("Difference of two sets : union_set and pset2",pset4)

pset1 {3, 4, 5, 6, 7}
pset2 {5, 21, 9, 10, 11}
pset1 {3, 4, 5, 6, 7}
Union set after union : {3, 4, 5, 6, 7, 9, 10, 11, 21}
Result of intersection of two sets : pset1 and pset2 {10}
Difference of two sets : union_set and pset2 {3, 4, 5, 6, 7}

In [4]:

print("Items in set :pset2",pset2)
if 9 in pset2:
    print("9 is in the set")

Items in set :pset2 {21, 9, 10, 11}
9 is in the set

In [5]:
plist = [21, 22, 22, 23, 14, 14, 15]
unique_elements = list(set(plist))
print("Unique elements in the set", unique_elements)

Unique elements in the set [14, 15, 21, 22, 23]

In [6]:
dict1 = {
    'Name': 'Ahmed',
    'Age': 12,
    'Class': 'Five'
}
print("Dictionary No 1: ", dict1)
print("Type of dict1 is :", type(dict1))
# Accessing Items
print ("dict1['Name']: ", dict1['Name'])
print ("dict1['Age']: ", dict1['Age'])
#get method
x = dict1.get('Age')
print("Getting item through get method",x)
#Key getting
y = dict1.keys()
print("Getting keys through get method",y)

Dictionary No 1:  {'Name': 'Ahmed', 'Age': 12, 'Class': 'Five'}
Type of dict1 is : <class 'dict'>
dict1['Name']:  Ahmed
dict1['Age']:  12
Getting item through get method 12
Getting keys through get method dict_keys(['Name', 'Age', 'Class'])

In [7]:
dict1 = {
    'Name': 'Ahmed',
    'Age': 12,
    'Class': 'Five'
}
print("Dictionary No 1: ", dict1)
dict1['Age'] = 15
print("Updated Dictionary age: ", dict1)
# Update Dictionary using update()
dict1.update({"Age": 16})
print("Updated Dictionary age usnig update() ", dict1)

Dictionary No 1:  {'Name': 'Ahmed', 'Age': 12, 'Class': 'Five'}
Updated Dictionary age:  {'Name': 'Ahmed', 'Age': 15, 'Class': 'Five'}
Updated Dictionary age usnig update()  {'Name': 'Ahmed', 'Age': 16, 'Class': 'Five'}

In [8]:

dict1 = {
    'Name': 'Ahmed',
    'Age': 12,
    'Class': 'Five'
}
print("Dictionary No 1: ", dict1)
dict1.pop('Class')
print("Dictionary after pop (class): ", dict1)

Dictionary No 1:  {'Name': 'Ahmed', 'Age': 12, 'Class': 'Five'}
Dictionary after pop (class):  {'Name': 'Ahmed', 'Age': 12}

In [9]:
dict1 = {
    'Name': 'Ahmed',
    'Class': 'Five',
    'Age': 12
}
print("Dictionary No 1: ", dict1)
dict1.popitem()
print("Dictionary after popitem: ", dict1)

Dictionary No 1:  {'Name': 'Ahmed', 'Class': 'Five', 'Age': 12}
Dictionary after popitem:  {'Name': 'Ahmed', 'Class': 'Five'}

In [10]:

dict1 = {
    'Name': 'Ahmed',
    'Class': 'Five',
    'Age': 12
}
#
print("Dictionary No 1: ", dict1)
del dict1['Class']
print("Delete item using del : ", dict1)

Dictionary No 1:  {'Name': 'Ahmed', 'Class': 'Five', 'Age': 12}
Delete item using del :  {'Name': 'Ahmed', 'Age': 12}

In [11]:
dict1 = {
    'Name': 'Ahmed',
    'Class': 'Five',
    'Age': 12
}
print("Dictionary No 1: ", dict1)
dict1.clear()
print("Empty the Dictionary using clear() : ", dict1)

Dictionary No 1:  {'Name': 'Ahmed', 'Class': 'Five', 'Age': 12}
Empty the Dictionary using clear() :  {}

        ** 1: Create a NumPy array, split into 3 arrays, then calculate sum of all arrays**

In [12]:

import numpy as np

arr = np.arange(1, 13)            # example array [1..12]
a1, a2, a3 = np.array_split(arr, 3)

print("Array 1:", a1)
print("Array 2:", a2)
print("Array 3:", a3)

sum1 = a1.sum()
sum2 = a2.sum()
sum3 = a3.sum()
total_sum = sum1 + sum2 + sum3

print("Sum of Array 1:", sum1)
print("Sum of Array 2:", sum2)
print("Sum of Array 3:", sum3)
print("Total sum (all arrays):", total_sum)

Array 1: [1 2 3 4]
Array 2: [5 6 7 8]
Array 3: [ 9 10 11 12]
Sum of Array 1: 10
Sum of Array 2: 26
Sum of Array 3: 42
Total sum (all arrays): 78

      **Task 2: Create a NumPy array and extract all numbers > 5 and < 15**

In [13]:
import numpy as np

arr = np.arange(0, 20)                        # example array 0..19
mask = (arr > 5) & (arr < 15)
result = arr[mask]

print("Original array:", arr)
print("Numbers greater than 5 and less than 15:", result)

Original array: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]
Numbers greater than 5 and less than 15: [ 6  7  8  9 10 11 12 13 14]

          ** Task 3: Create two sets (one via constructor)**

In [14]:
# set1 = {Even numbers (0~10)} -> use constructor
set1 = set(range(0, 11, 2))                   # {0,2,4,6,8,10}

# set2 = {Positive integers (1~10)}
set2 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}        # literal

print("set1:", set1)
print("set2 (original):", set2)

# Remove second and fifth element of set2 define "second/fifth" by sorted order
sorted_set2 = sorted(set2)                    # deterministic ordering
second_elem = sorted_set2[1]                  # second (index 1)
fifth_elem = sorted_set2[4]                   # fifth (index 4)

set2.discard(second_elem)
set2.discard(fifth_elem)

print(f"Removed elements (by sorted order): {second_elem} and {fifth_elem}")
print("set2 (after removals):", set2)

# set3 = intersection of set2 and set1
set3 = set1.intersection(set2)
print("set3 (intersection of set1 and set2):", set3)

set1: {0, 2, 4, 6, 8, 10}
set2 (original): {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Removed elements (by sorted order): 2 and 5
set2 (after removals): {1, 3, 4, 6, 7, 8, 9, 10}
set3 (intersection of set1 and set2): {8, 10, 4, 6}



>      **    Task 4 â€” Create a dictionary named "students" with 5 records and update Semester from "Six" to "Seven"**

In [15]:
students = {
    1001: {"sapid": 1001, "name": "Ali Khan",   "age": 20, "Semester": "Six"},
    1002: {"sapid": 1002, "name": "Fatima Noor","age": 21, "Semester": "Six"},
    1003: {"sapid": 1003, "name": "Omar Ahmed", "age": 22, "Semester": "Six"},
    1004: {"sapid": 1004, "name": "Sara Malik", "age": 20, "Semester": "Six"},
    1005: {"sapid": 1005, "name": "Zain Riaz",  "age": 23, "Semester": "Six"},
}

print("Students before update:")
for sid, rec in students.items():
    print(sid, rec)

# Update Semester (Six) -> Semester (Seven)
for rec in students.values():
    rec["Semester"] = "Seven"

print("\nStudents after update:")
for sid, rec in students.items():
    print(sid, rec)

Students before update:
1001 {'sapid': 1001, 'name': 'Ali Khan', 'age': 20, 'Semester': 'Six'}
1002 {'sapid': 1002, 'name': 'Fatima Noor', 'age': 21, 'Semester': 'Six'}
1003 {'sapid': 1003, 'name': 'Omar Ahmed', 'age': 22, 'Semester': 'Six'}
1004 {'sapid': 1004, 'name': 'Sara Malik', 'age': 20, 'Semester': 'Six'}
1005 {'sapid': 1005, 'name': 'Zain Riaz', 'age': 23, 'Semester': 'Six'}

Students after update:
1001 {'sapid': 1001, 'name': 'Ali Khan', 'age': 20, 'Semester': 'Seven'}
1002 {'sapid': 1002, 'name': 'Fatima Noor', 'age': 21, 'Semester': 'Seven'}
1003 {'sapid': 1003, 'name': 'Omar Ahmed', 'age': 22, 'Semester': 'Seven'}
1004 {'sapid': 1004, 'name': 'Sara Malik', 'age': 20, 'Semester': 'Seven'}
1005 {'sapid': 1005, 'name': 'Zain Riaz', 'age': 23, 'Semester': 'Seven'}